<div class="comment">
  <section class="top">
    <h6 class="byline">
      <% if current_user.username == nil %>
        <a href="/users/<%= current_user.id %>">
          <% if current_user.image == nil %>
            <i class="icon"></i>
          <% else %>
            <img src="<%= current_user.image %>">
          <% end %>
        <%= current_user.email %></a>
      <% else %>
        <a href="/users/<%= current_user.id %>">
          <% if current_user.image == nil %>
            <i class="icon"></i>
          <% else %>
            <img src="<%= current_user.image %>">
          <% end %>
        <%= current_user.username %></a>
      <% end %>
      <small>
        <span class="data">
          Added <%= distance_of_time_in_words(Time.now, comment.created_at) %> ago
        </span>
      </small>
    </h6>
  </section>
  <section class="content">
    <p><%= comment.comment %></p>
  </section>
</div>
<hr>
