<br>
<br>
<div class="row">
  <div class="medium-10 large-centered columns">
    <%= form_for @user do |f| %>
      <div class="column log-in-form">
        <h4 class="text-center">Edit your profile</h4>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :image %>
          <%= f.file_field :image %>
        </div>
        <div class="field">
          <%= f.label :remote_image_url %>
         <%= f.text_field :remote_image_url %>
        </div>
        <div class="actions">
          <%= f.submit "Update User", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>







