<div>
  <li>
    <ul>
      <li><strong>Title:</strong><%= podcast.title %></li>
      <li><strong>Image:</strong><img src="<%= podcast.image %>"></li>
      <li><strong>Description:</strong><%= podcast.description %></li>
      <li><strong>Genre:</strong><%= podcast.genre %></li>
      <li><strong>Host:</strong><%= podcast.podcaster %></li>
    </ul>
  </li>
</div>