<div>
  <p><strong>Title:</strong><%= @podcast.title %></p>
  <p><strong>Image:</strong><img src="<%= @podcast.image %>"></p>
  <p><strong>Description:</strong><%= @podcast.description %></p>
  <p><strong>Genre:</strong><%= @podcast.genre %></p>
  <p><strong>Host:</strong><%= @podcast.podcaster %></p>
  <%= button_to "Follow", follows_path(podcast_id: @podcast.id) %>
</div>

<div>
  <%= render @podcast.episodes %>
</div>